html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal styles */

html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: "Helvetica", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 470px) {
  .container {
    width: 100%;
    justify-content: center;
  }
}

/* Header style */

.header {
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
  align-items: center;
  width: 960px;
  margin-top: 1rem;
  height: 3rem;
  color: white;
  position: fixed;
  z-index: 1;
}

.header .container {
  display: flex;
  flex-direction: row;
}

.brandlogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandlogo img {
  height: 1.5rem;
  margin: 1rem 1rem 1rem 2rem;
}

@media only screen and (max-width: 1024px) {
  .header {
    margin-top: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 470px) {
  .brandlogo span {
    display: none;
  }
}

/* navigation menu */

nav ul {
  display: inline-flex;
  align-items: center;
  margin: 1rem 2rem;
}

li a{
  color: white;
  text-decoration: none;
  margin: 1rem 1rem;
}

.mobile-nav li {
  display: none;
}

@media only screen and (max-width: 470px) {
  nav ul {
    display: none;
  }
  .mobile-nav a {
    display: block;
  }
}
/* Main banner */

.main_banner {
  background-image: url('../images/glasses-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

.main_banner .container {
  display: flex;
  justify-content: flex-end;
}

.headline {
  position: relative;
  top: 10rem;
  left: 2rem;
  background-color: white;
}

.headline h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: Helvetica;
  font-weight: bold;
  padding: 1.5rem 5rem;
  line-height: 1.2;
}

@media only screen and (max-width: 1024px) {
  .main_banner {
    height: 22rem;
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .headline {
    top: 5rem;
    right: 2rem;
  }
  .headline h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }
}

@media only screen and (max-width: 470px) {
  .main_banner {
    height: 17rem;
    background-position: center;
    background-size: cover;
  }
  .headline {
    top: 9rem;
    width: 100%;
  }
  .headline h1 {
    font-size: 1rem;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
}

/* service information */

.services {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.service {
  display: flex;
  height: 8rem;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem 0 3rem;
}


.text {
  display: flex;
  flex-flow: row;
  max-width: 5rem;
  text-align: center;
  justify-content: center;
}

.paper {
  width: 3.5rem;
}

.ruler,
  .truck {
    width: 5rem;
  }

@media only screen and (max-width: 470px) {
  .services {
    flex-direction: column;
    margin-top: 3.77rem;
    justify-content: center;
    align-items: center;
  }

  .service img {
    margin-top: 1.54rem;
  }
  .text {
    font-size: 0.77rem;
    font-family: Helvetica;
  }
}

/* info blocks */


.information {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.info {
  flex-direction: column;
  width: 35%;
  padding: 2.5%;
  align-items: flex-start;
}

.title {
  width: 10rem;
  padding: 0.5rem 1.25rem;
  color: white;
  background-color: cadetblue;
}

.info p {
  margin-top: 1rem;
}

@media only screen and (max-width: 470px) {
  .information {
    flex-direction: column;
    margin-top: 3.77rem;
    justify-content: center;
  }
  .title {
    width: 100%;
  }
  .info p {
    font-size: 0.77rem;
    font-family: Helvetica;
    margin-top: 1rem;
  }
  .schedule {
    margin-top: 4rem;
  }
}

/* Footer */

footer {
  background-color: azure;
  height: 9.5rem;
  margin-top: 5rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
  justify-content: center;
}

footer .container {
  display: flex;
  align-items: center;
  padding: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 470px) {
  footer span {
    display: none;
  }
  footer img {
    align-items: center;
    justify-content: center;
  }
}
